#titulo {
    font-size: 34px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
}
body {
    font-family: "Homer Simpson UI";
    background-color: #c4c7fd;
    margin: 0;
    padding: 20px;
}
#botonDespliegue{
   background-color: #ffffff; 
   border: oldlace;
   border-radius: 10px;
}
#Traducir{
    background-color: #ffffff; 
    border: oldlace;
    border-radius: 10px;
}
#datosPersonales {
    border: 3px solid #dcdaf9;
    border-radius: 20px;
    background-color: #dcdaf9;
    text-align: center;
}
#contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr; /* dos columnas de igual tamaño */
    gap: 1rem; /* espacio entre columnas y filas */
    padding: 1rem;
    background: #c4c7fd;
    border-radius: 8px;
}
#contenedor div:first-child {
  grid-column: 1 / 3; /* Hace que el primer hijo ocupe las 2 columnas */
}
#contenedor div:nth-child(4) {
  grid-column: 1 / 3; /* ocupa 3 columnas */
}
#datosPersonales h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}
#datosAcademicos {
    border: 3px solid #dcdaf9;
    border-radius: 20px;
    background-color: #ffe5d9;
    text-align: center;
}
#sobreMi {
    border: 3px solid #dcdaf9;
    border-radius: 20px;
    background-color: #ffe5d9;
    text-align: center;
}
#pie{
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 20px;
    background-color: #c4c7fd;
}
#linkedin {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
#github {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
#contacto {
    text-align: center;
    margin-top: 20px;
    font-family: "Homer Simpson UI";
    font-weight: bold;
}
#li{
    list-style-type: none;
    padding-left: 0;
}
#Proyectos {
    border: 3px solid #dcdaf9;
    border-radius: 20px;
    background-color: #ffe5d9;
    text-align: center;
}
#datosPersonales {
    background-color: #ffe5d9;
}
#img1, #img2, #img3, #img4, #img5{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    border: 5px solid #c4c7fd;
    text-align: right;
    right: 100%;
}
#carta1{
    text-align: left;
}